name: Tests

on:
  push:
    branches:
      - '**'
      - '!main'
  pull_request:
    branches:
      - '**'
      - '!main'

jobs:
  date:
    if: contains(github.event.head_commit.message, 'Trigger CI') && (github.event_name == 'push' || github.event.pull_request.head.repo.full_name != 'pykeen/pykeen')
    name: Date
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Print the date
        run: date

  tests_completed:
    if: "!contains(github.event.head_commit.message, 'Trigger CI')"
    runs-on: ubuntu-latest
    steps:
      - name: Step 1
        id: PR-check
        run: echo ::set-output name=status::pending
        continue-on-error: true
      - name: Dump steps context
        env:
          STEPS_CONTEXT: ${{ toJson(steps) }}
        run: echo "$STEPS_CONTEXT"
      - name: Check on failures
        if: steps.PR-check.outputs.status == 'pending'
        run: exit 1
